In [1]:
import pandas as pd
from pathlib import Path

In [2]:
gpr = Path("data_gpr_export.xls")
gpr_df = pd.read_excel(gpr)

In [3]:
gpr_df.head()

,month,GPR,GPRT,GPRA,GPRH,GPRHT,GPRHA,SHARE_GPR,N10,SHARE_GPRH,...,GPRHC_TUN,GPRHC_TUR,GPRHC_TWN,GPRHC_UKR,GPRHC_USA,GPRHC_VEN,GPRHC_VNM,GPRHC_ZAF,var_name,var_label
0,1900-01-01,NaN,NaN,NaN,87.927849,64.717491,110.453522,NaN,NaN,3.171932,...,0.0,0.038840,0.0,0.0,2.718799,0.051787,0.012947,1.152253,month,Date (year/month)
1,1900-02-01,NaN,NaN,NaN,86.566490,71.936844,96.250488,NaN,NaN,3.122822,...,0.0,0.125471,0.0,0.0,2.732469,0.027882,0.000000,1.143176,GPR,Recent GPR (Index: 1985:2019=100)
2,1900-03-01,NaN,NaN,NaN,72.140701,57.475853,84.499428,NaN,NaN,2.602422,...,0.0,0.180366,0.0,0.0,2.151507,0.025767,0.000000,0.863180,GPRT,Recent GPR Threats (Index: 1985:2019=100)
3,1900-04-01,NaN,NaN,NaN,54.419449,37.326603,65.858208,NaN,NaN,1.963141,...,0.0,0.066774,0.0,0.0,1.776175,0.000000,0.000000,0.641026,GPRA,Recent GPR Acts (Index: 1985:2019=100)
4,1900-05-01,NaN,NaN,NaN,64.405197,48.200008,74.373955,NaN,NaN,2.323370,...,0.0,0.081522,0.0,0.0,1.970109,0.013587,0.000000,0.788043,GPRH,Historical GPR (Index: 1900:2019=100)

In [4]:
gpr_df = gpr_df[["month","GPR","GPRT","GPRA","GPRC_CAN","GPRC_USA"]]
gpr_df.head()

       month  GPR  GPRT  GPRA  GPRC_CAN  GPRC_USA
0 1900-01-01  NaN   NaN   NaN       NaN       NaN
1 1900-02-01  NaN   NaN   NaN       NaN       NaN
2 1900-03-01  NaN   NaN   NaN       NaN       NaN
3 1900-04-01  NaN   NaN   NaN       NaN       NaN
4 1900-05-01  NaN   NaN   NaN       NaN       NaN

In [5]:
#check for null values
gpr_df.isnull().values.any()

True

In [6]:
# Convert 'month' column to datetime format
gpr_df["month"] = pd.to_datetime(gpr_df["month"])

# Filter out rows where 'month' is before 1985-01-01
gpr_df = gpr_df[gpr_df["month"] >= "1985-01-01"]

# Reset index (optional, to start from 0)
gpr_df.reset_index(drop=True, inplace=True)

gpr_df.head()

       month         GPR        GPRT        GPRA  GPRC_CAN  GPRC_USA
0 1985-01-01  102.173378  107.574173   89.647491  0.405732  2.572514
1 1985-02-01  117.102020  126.442726   96.601669  0.452907  2.856086
2 1985-03-01  124.778152  127.070854  116.987274  0.593931  2.945245
3 1985-04-01   87.929001   94.640198   73.757797  0.343321  1.997503
4 1985-05-01  103.262848  111.159782   92.276726  0.425962  2.389719

In [7]:
gpr_df.count()

month       481
GPR         481
GPRT        481
GPRA        481
GPRC_CAN    481
GPRC_USA    481
dtype: int64

In [8]:
#check for null values
gpr_df.isnull().values.any()

False

In [9]:
type(gpr_df)

pandas.core.frame.DataFrame

In [10]:
gpr_df[["GPR","GPRT","GPRA","GPRC_CAN","GPRC_USA"]] = gpr_df[["GPR","GPRT","GPRA","GPRC_CAN","GPRC_USA"]].round(2)
gpr_df.head()

       month     GPR    GPRT    GPRA  GPRC_CAN  GPRC_USA
0 1985-01-01  102.17  107.57   89.65      0.41      2.57
1 1985-02-01  117.10  126.44   96.60      0.45      2.86
2 1985-03-01  124.78  127.07  116.99      0.59      2.95
3 1985-04-01   87.93   94.64   73.76      0.34      2.00
4 1985-05-01  103.26  111.16   92.28      0.43      2.39

In [11]:
#check for null values
gpr_df.isnull().values.any()

False

In [12]:
gpr_df.dtypes

month       datetime64[ns]
GPR                float64
GPRT               float64
GPRA               float64
GPRC_CAN           float64
GPRC_USA           float64
dtype: object